// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

$turquoise: #36b1bf;
$turquoise-light: #4ad9d9;
$turquoise-light1: lighten($turquoise-light,10%);
$turquoise-dark: #309AA8;
$header-color: #222222;
$large-button-fontsize: 17px;

a{
  color:$turquoise;
}
a:hover{
  color:$turquoise-dark;
}

.top-bar{
  margin:0;
}

header {
  background: #36b1bf; /* Old browsers */
background: -moz-linear-gradient(left, $turquoise 0%, $turquoise-light1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,$turquoise), color-stop(100%,$turquoise-light1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, $turquoise 0%,$turquoise-light1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, $turquoise 0%,$turquoise-light1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, $turquoise 0%,$turquoise-light1 100%); /* IE10+ */
background: linear-gradient(to right, $turquoise 0%,$turquoise-light1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$turquoise', endColorstr='$turquoise-light1',GradientType=1 ); /* IE6-9 */

  .columns{
    height:100px;
  }

  h2, ul{   
    position:absolute;
    top:50%;
  }
  
  h2{
    height:44px;
    margin-top:-22px;
  }
  ul{
    right:0%;
    height:30px;
    margin-top:-15px
  }
  
  li{
  list-style-type:none;
  float:right;
  padding:5px;
  margin-left:5px;
  }
  li:hover{
    background-color: rgba(255,255,255,0.2);
  }
  a{
    font-size:$large-button-fontsize;
    font-weight:bold;
    color:$header-color;
  }
  a:hover{
    color:$header-color;
  }
}

.custom-login{
  height:45px;
  
  div, img, button{
    display:inline-block;
    vertical-align: middle;
  }
  img{
    height:40px;
  }
}

.question-summary {
  border-bottom: 1px solid $turquoise;
  padding: 11px 0px;
  .statscontainer {
    
    .stats {
      background: $turquoise-light1;
      margin: 0 0 0 7px;
      padding: 4px 7px 6px 7px;
      
      .vote {
        .votes {
          color: $turquoise-dark;
          padding: 0 0 7px 0;
          text-align: center;
        }
      }
      .answered {
        background: #75845C;
        color: white;
      }
      .status {
        margin-top: -3px;
        padding: 4px 0 4px;
        text-align: center;
        strong {
          display:block;
        }
      }
    }
    .views {
      padding-top: 4px;
      color: $turquoise-dark;
      text-align: center;
    }  
  }
  
  .summary {
    h3 {
      margin-top: 0px;
      margin-bottom: 5px;
    }
    .excerpt {
      line-height: 1.2;
      padding: 0;
      margin: 0;
      padding-bottom: 5px;
    }
    .tags {
      line-height: 18px;
      float: left;
      .post-tag, .post-text .post-tag, .wmd-preview a.post-tag {
        color: #3E6D8E;
        background-color: #E0EAF1;
        border-bottom: 1px solid #3E6D8E;
        border-right: 1px solid #7F9FB6;
        padding: 3px 4px 3px 4px;
        margin: 2px 2px 2px 0;
        text-decoration: none;
        font-size: 90%;
        line-height: 2.4;
        white-space: nowrap;
      }
    }

    .fr {
      float: right;
    }
    .started {
      color: #999;
      float: right;
      line-height: 18px;
    }
  }
}

.user-info {
  height: 35px;
  .user-action-time {
    margin-top: 2px;
    margin-bottom: 4px;
  }
  .user-gravatar32 {
    float: left;
    width: 32px;
    height: 32px;
  }
  .user-details {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 17px;
  }
}

.relativetime {
  font-weight: bold;
  text-decoration: none;
}


