button{
  border-radius: 3px;
}

.custom-username, .custom-login img, .custom-login button{
  display:inline-block;
  vertical-align: middle;
}

header {
  background-color: #2BA6CB;
  padding: 10px 0;
}
header .row {
  height:80px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
}
header .columns {
  top:50%;
  height:30px;
  margin-top:-15px;
  vertical-align: middle;
}

header .four{
  font-size:30px;
}

header ul{
  list-style-type: none;
}

header li{
  float:left;
  margin-right:10px;
  background:white;
  padding:0px 5px;
}
header li:hover{
  background:green;
}

header a{
  color:black;
  text-decoration: none;
}
header a:hover{
  color:black;
}

.top-bar {
  margin: 0px;
}

.top-bar .attached {
padding: 0 15px;
width: 1000px;
max-width: 100%;
z-index: 0 !important;
}