  <!-- unanswered questions  -->
  <template name="unansweredview">
    {{#each questions}}
    {{> question_item}}
    {{/each}}
  </template>
  
  <!-- questions view -->
  <template name="questionsview">
    {{#each questions}}
    {{> question_item}}
    {{/each}}
  </template>
  
  <!-- Single question item in list   -->
  <template name="question_item">
    <div class="question-summary row">
      <div class="statscontainer two columns">
      	<div class="stats">
      	  <div class="vote">
            <div class="votes">
              <span class="vote-count-post"><strong>{{countof votes}}</strong></span>
              <div class="viewcount">votes</div>
            </div>
          </div>
          <div class="status answered">
            <strong>{{countof answers}}</strong>answer
          </div>
      	</div>
      	<div class="views" title="74 views">
       	  {{views}} views
		</div>
      </div>
      <div class="summary ten columns">
      	<h3>
      	  <a href="/questions/{{_id}}" class="question-hyperlink">{{title}}</a>	
      	</h3>
      	<div class="excerpt">
       	  {{truncate 80 content}}    
        </div>
        <div class="tags t-entity-framework t-entity-framework-5 t-ef-migrations t-code-first-migrations">
       	  {{#each tagsof}}
		    {{> tag_button}}
		  {{/each}}
        </div>
        <div class="started fr">
          <div class="user-info user-hover">
          <div class="user-action-time">asked <span title="{{fromnow created}}" class="relativetime">{{fromnow created}}</span>
        </div>
        <div class="user-gravatar32">
          <a href="users/{{user_id}}" class="navigation-link"><div class=""><img src="{{userphotoof}}" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
          <a href="users/{{user_id}}" class="navigation-link">{{usernameof}}</a>
        </div>
    </div>
  </template>
  
  <!-- question view -->
  <template name="questionview">
    {{#with question}}
    <h3>{{title}}</h3>
    <div>
      {{content}}
    </div>
    {{#each tagsof}}
    {{> tag_button}}
    {{/each}}
    at {{fromnow created}}
    by <span>{{usernameof}}</span><span><img src="{{userphotoof}}"></span>
    <div>
      <button class="question-vote-up icon-arrow-up"></button>
      {{countof votes}}<button class="question-vote-down icon-arrow-down"></button>
    </div>
    
    {{#each comments}}
    <div>
      {{content}} - {{fromnow created}} - {{usernameof}} - <img src="{{userphotoof}}" class="img-rounded"/><span data-question-id="{{../permalink}}{{question_id}}" class="icon-remove-sign"></span>
    </div>
    {{/each}}
    <div class="comment">
      <div class="comment-link">
        <a href="#">Add a comment?</a>
      </div>
      <div class="comment-group" style="display: none">
        <textarea class="input-add-comment"></textarea>
        <button class="btn-add-comment btn-primary" type="button">
          Add Comment
        </button>
      </div>
    </div>
    {{#each answers}}
      <button class="answer-vote-up icon-arrow-up"></button>
        {{countof votes}}<button class="answer-vote-down icon-arrow-down"></button>
      <div>
      {{content}}
    </div>
    <div>
      answered {{fromnow created}}
    </div>
    <div><img src="{{userphotoof}}" class="img-rounded"/>{{usernameof}}
    </div>
    {{/each}}
    <div class="answer">
      <textarea class="input-add-answer"></textarea>
      <button class="btn-add-answer btn-primary" type="button">
        Post Your Answer
      </button>
    </div>
    {{/with}}
  </template>
  
  <!-- create question view   -->
  <template name="newview">
    <form id="new-question-form">
      <div>
        <div>
          <input name="title" class="span6" type="text" placeholder="What's your programming question? be specific.">
          </input>
        </div>
        <div>
          <textarea class="span6" name="content"></textarea>
        </div>
        <div>
          <input name="tags" autocomplete="off" class="span6 select2-input" tabindex="0" type="text" placeholder="At lease one tag such as (aps.net-mvc sql-server python), max 5 tags">
          </input>
        </div>
      </div>
      <button type="button" class="submit-question btn btn-primary">
        Create
      </button>
    </form>
  </template>
  
  