  <!-- unanswered questions  -->
  <template name="unansweredview">
    {{#each questions}}
    {{> question_item}}
    {{/each}}
  </template>
  
  <!-- questions view -->
  <template name="questionsview">
    <div class="nine columns">
        <div class="subheader">
          <h3>Tagged Questions</h3>
        </div>
        {{#each questions}}
          {{> question_item}}
        {{/each}}
    </div>
      
    <div class="three columns">
      <h4>All Tags</h4>
      {{> sidebar_tags_view}}
  
<!--         <h4>Other Resources</h4>
        <p>Once you've exhausted the fun in this document, you should check out:</p>
        <ul class="disc">
          <li><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</li>
        </ul> -->
    </div>
    
    
    
  </template>
  
  <!-- Single question item in list   -->
  <template name="question_item">
    <div class="question-summary row">
      <div class="statscontainer two columns">
        <div class="stats">
          <div class="vote">
            <div class="votes">
              <span class="vote-count-post"><strong>{{countof votes}}</strong></span>
              <div class="viewcount">votes</div>
            </div>
          </div>
          <div class="status answered">
            <strong>{{countof answers}}</strong>answer
          </div>
        </div>
        <div class="views" title="74 views">
          {{views}} views
        </div>
      </div>
      <div class="summary ten columns">
        <h3>
          <a href="/questions/{{_id}}" class="question-hyperlink navigation-link">{{title}}</a> 
        </h3>
        <div class="excerpt">
          {{{truncate 80 content}}}    
        </div>
        <div class="tags t-entity-framework t-entity-framework-5 t-ef-migrations t-code-first-migrations">
        {{#each tagsof}}
          {{> tag_button}}
        {{/each}}
        </div>
        {{> user_info}}
      </div>
    </div>
  </template>
  
  <!-- question view -->
  <template name="questionview">
    {{#with question}}
    <h3>{{title}}</h3>
    <div class="row">
      <div class="votecell one column">
        <div class="vote">
          <a class="question-vote-up vote-up-off" title="This answer is useful (click again to undo)">up vote</a>
          <span class="vote-count-post">{{countof votes}}</span>
          <a class="question-vote-down vote-down-off" title="This answer is not useful (click again to undo)">down vote</a>
        </div>
      </div>
      <div class="postcell eleven columns">
        <div>
          <div class="post-text" >{{{content}}}</div>
          <div class="post-taglist">
            {{#each tagsof}}
            {{> tag_button}}
            {{/each}}  
          </div>
          <div class="fw" style="float: right">
            {{> user_info}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="one column">
      </div>
      <div class="eleven columns">
        <div class="comments">
          {{#each comments}}
            <div class="comment">
              <div class="comment-text">
                <span class="comment-copy">{{content}}</span>
                {{#if user_id}}
                  <a href="/users/{{user_id}}" class="comment-user navigation-link">{{usernameof}}</a>
                {{else}}
                  Anonymous
                {{/if}}
                <span class="comment-date" dir="ltr"><a class="comment-link" href="#"><span title="{{fromnow created}}" class="relativetime-clean">{{fromnow created}}</span></a></span>
              </div>
            </div>
          {{/each}}
          <a class="comments-link" title="ask author for clarification about this post">add comment</a>
          <div class="comment-form row" style="display: none;">
            <textarea class="input-add-comment ten columns"></textarea>
            <button class="btn-add-comment" type="button">
              Add Comment
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="answers">
      <div class="answers-header">
        <div class="subheader answers-subheader">
            <h2>{{count answers}}</h2>
        </div>
      </div>
      {{#each answers}}
        <div class="row">
          <div class="votecell one column">
            <div class="vote">
              <a class="answer-vote-up vote-up-off" title="This answer is useful (click again to undo)">up vote</a>
              <span class="vote-count-post">{{countof votes}}</span>
              <a class="answer-vote-down vote-down-off" title="This answer is not useful (click again to undo)">down vote</a>
            </div>
          </div>
          <div class="postcell eleven columns">
            <div>
              <div class="post-text" >{{content}}</div>
              <div class="fw" style="float: right">
                {{> user_info}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="answer">
      <textarea class="input-add-answer"></textarea>
      <button class="btn-add-answer btn-primary" type="button">
        Post Your Answer
      </button>
    </div>
    {{/with}}
  </template>
  
  <!-- create question view   -->
  <template name="newview">
      <form id="new-question-form">
      <div>
        <div>
          <input name="title" class="span6" type="text" placeholder="What's your programming question? be specific.">
          </input>
        </div>
        {{> rich_text_editor}}
        <div>
          <input name="tags" autocomplete="off" class="span6 select2-input" tabindex="0" type="text" placeholder="At lease one tag such as (aps.net-mvc sql-server python), max 5 tags">
          </input>
        </div>
      </div>
      <button type="button" class="submit-question btn btn-primary">
        Create
      </button>
    </form>
  </template>
  
  <template name="rich_text_editor">
    <div id="wysihtml5-toolbar" style="display: none;">
      <ul class="wmd-button-row">
        <li class="wmd-button" id="wmd-bold-button" title="Strong &lt;strong&gt; Ctrl+B" data-wysihtml5-command="bold"><span style="background-position: 0px 0px;"></span></li>
        <li class="wmd-button" style="left: 25px;" data-wysihtml5-command="italic" id="wmd-italic-button" title="Emphasis &lt;em&gt; Ctrl+I"><span style="background-position: -20px 0px;"></span></li>
        <li class="wmd-spacer wmd-spacer1" style="left: 50px;"  id="wmd-spacer1"></li>
        
        <li class="wmd-button" style="left: 75px;" id="wmd-link-button" data-wysihtml5-command="createLink" title="Hyperlink &lt;a&gt; Ctrl+L"><span style="background-position: -40px 0px;"></span></li>
        <li class="wmd-button" style="left: 100px;" id="wmd-quote-button" title="Blockquote &lt;blockquote&gt; Ctrl+Q"><span style="background-position: -60px 0px;"></span></li>
        <li class="wmd-button" style="left: 125px;" id="wmd-code-button" title="Code Sample &lt;pre&gt;&lt;code&gt; Ctrl+K"><span style="background-position: -80px 0px;"></span></li>
        <li class="wmd-button" style="left: 150px;" id="wmd-image-button" title="Image &lt;img&gt; Ctrl+G"><span style="background-position: -100px 0px;"></span></li>
        <li class="wmd-spacer wmd-spacer2" style="left: 175px;"  id="wmd-spacer2"></li>
        
        <li class="wmd-button" style="left: 200px;" id="wmd-olist-button" title="Numbered List &lt;ol&gt; Ctrl+O"><span style="background-position: -120px 0px;"></span></li>
        <li class="wmd-button" style="left: 225px;" id="wmd-ulist-button" title="Bulleted List &lt;ul&gt; Ctrl+U"><span style="background-position: -140px 0px;"></span></li>
        <li class="wmd-button" style="left: 250px;" id="wmd-heading-button" title="Heading &lt;h1&gt;/&lt;h2&gt; Ctrl+H"><span style="background-position: -160px 0px;"></span></li>
        <li class="wmd-button" style="left: 275px;" id="wmd-hr-button" title="Horizontal Rule &lt;hr&gt; Ctrl+R"><span style="background-position: -180px 0px;"></span></li>
        <li class="wmd-spacer wmd-spacer3" style="left: 300px;" id="wmd-spacer3"></li>
        
        <li class="wmd-button" style="left: 325px;" id="wmd-undo-button" title="Undo - Ctrl+Z"><span style="background-position: -200px 0px;"></span></li>
        <li class="wmd-button" style="left: 350px;" id="wmd-redo-button" title="Redo - Ctrl+Shift+Z"><span style="background-position: -220px -20px;"></span></li>
      </ul>
      
      <div data-wysihtml5-dialog="createLink" style="display: none;">
        <label>
          Link:
          <input data-wysihtml5-dialog-field="href" value="http://" class="text">
        </label>
        <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
      </div>
    </div>
    <form><textarea name="content" id="wysihtml5-textarea" placeholder="Enter your text ..." autofocus></textarea></form>
  </template>
  
  