  <!-- tags view  -->
  <template name="tagsview">
    {{#each tags}}
    {{> tag_item}}
    {{/each}}
  </template>
  
  <template name="tag_item">
    <div class="tag">
      {{> tag_button}}
      X {{countof questions}}
      <div>today {{counttoday questions}}</div>
    </div>
  </template>
  
  <template name="tag_button">
  	<a class="post-tag navigation-link" href="/questions/tagged/{{text}}" title="show questions tagged '{{text}}'" rel="tag">{{text}}</a>
  </template>
  
  <template name="sidebar_tags_view">
    {{#each tags}}
      <div class="tag">
        {{> tag_button}} X {{countof questions}}
      </div>
    {{/each}}
  </template>